*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    width: 99%;
    height: 99vh;
    background-color: black;
}

h1{
    text-align: center;
    margin: 30px;
    color: white;
}
p{
    font-size: 80px;
    color: white;
    padding: 20px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.hour{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    border: 3px solid cyan;
    margin: 20px;
    border-radius: 10px;
    font-size: 80px;
    color: white;
}

.min{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    border: 3px solid cyan;
    border-radius: 10px;
    font-size: 80px;
    color: white;
}

.sec{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    border: 3px solid cyan;
    margin: 20px;
    border-radius: 10px;
    font-size: 80px;
}



    